<script>
      import Modal from './comps/Modal.svelte';
      import {tick} from 'svelte'
      import {onMount} from 'svelte';
      import {checkHor, checkVert,checkLeftDiag,checkRightDiag} from './comps/helper'
      let isOpenModal = false;
       let checked = undefined;
       let color = "#2196F3";

       let showModal = false;
      
      let cnt= 25 //кол-во ячеек по умолч-ю
      function callback(){
        showModal = !showModal
        reset();
        console.log("Сработало")
      }
      //Перезапуск
      async function reset(){
          cnt=0
          await tick()
          cnt = poleset2()
          moveX = true
          //Можно также чистить массивы и классы в циклах
          //let ln = document.querySelectorAll(".line")
          //ln.forEach(x=>x.classList.remove('line'))
    }
   
    let pole = 0;
    function poleset(){
      if(yes){
        reset()
        cnt = 25;
        return cnt
      }
      else{
        reset()
        cnt = 3;
        return cnt
      }
    }
    function poleset2(){
      if(yes){
        
        cnt = 25;
        return cnt
      }
      else{
        
        cnt = 3;
        return cnt
      }
    }
      let parm = false;                   
      let wrp_width; //ширина и высота таблицы должны быть равными
      let  wrp_height;
      
      let moveX = true //Первый ход - Х 
      $: currSign= moveX ? 'X':"0"
      
      //2-мерный массив данных (ячейки по умолч-ю пусты)
      $: arr2D = Array.from(Array(cnt), () => Array(cnt))
      //Массив DOM-элементов, соответсвующий данным (для стилизации) 
      let els = Array.from(Array(cnt), () => Array(cnt))
    let yes = false;
    let toWin = 0;
    function setcnt(){
        console.log(yes)
        if(yes){
          cnt=3
          return cnt;
        }
        else{
          cnt=25
          return cnt;
        }    
    }
     function setGame(){
        console.log(yes)
        if(yes){
          toWin=3
          return toWin;
        }
        else{
          toWin=5
          return toWin;
        }    
    }
      async function move(r,c){
          if(arr2D[r][c]) //Если ячейка не пуста, выходим
              return
          
          arr2D[r][c] = currSign; //Пишем символ в ячейку
          //Создаем 5-местный массив из Х или 0 для проверки победителя
          let currMask= Array(setGame()).fill(currSign)
          moveX = !moveX //Меняем игрока
          console.log(currMask);
          
        await tick() 
          //После каждого хода кол-во ячеек в ряду может стать равным 5.
          //Проверим это.
          checkHor(setcnt,r,els,currMask,callback,setGame,)
          checkVert(setcnt,c,els,currMask,callback,setGame)
          checkLeftDiag(setcnt,r,c,els,currMask,callback,setGame)
          checkRightDiag(setcnt,r,c,els,currMask,callback,setGame)
          
      }
      
  </script>
  

  <div class='field'>
    {#if showModal}
  <Modal on:close="{() => showModal = false}" >
      <h2 slot="header">
          modal
      </h2>
      <ol class="definition-list">    
          <li>Win</li>
      </ol>
      <button on:click={reset}>reset</button>
  </Modal>
  
{/if}
      <div class='control'>
        <div style="padding-bottom: 7px;">
             Ход: {currSign}
        </div>
          <input type=range bind:value={cnt} min=7 max=25>
          <label class="switch">
            <input type="checkbox" bind:checked={yes} on:click={poleset}/>
            <span class="slider" />
          </label>
        <button on:click={reset}>reset</button>
      </div>
      
       <div  bind:clientWidth={wrp_width}  
                  style='
                               --font_size:{(50/cnt)+'vw'};
                               --wrp_height:{wrp_width+'px'}; 
                  --cell_size:{(wrp_width/cnt)+'px'} ' 
                  class='wrapper'>
           
             {#each arr2D as row, irow }
                 {#each  row as col, icol}
                     <div id={irow.toString()+'-'+icol.toString()} 
                                          style='--curSign:{currSign}; grid-area:{irow+1}/{icol+1}/{irow+2}/{icol+2}'
                                          class='box'
                                          on:click={()=>move(irow,icol)}
                                   bind:this={els[irow][icol]}
                                          >
                                   {#if col!==undefined}
                                    {col}
                                    
                                   {/if}
                     </div>
                {/each}
           {/each}
          
       </div>
  </div>
  
  <style>
      :global(.line){
          background:blue !important;
      }
      .control{
          display:flex;
          align-items: center;
          width: 55%;
      justify-content: space-around;
      }
      .field{
          display: flex;
      place-items: center;
          flex-direction:column;
          min-height:100vh;
          padding:10px;
          background:aqua;
      }
      .box{
          display:inline-flex;
          justify-content: center;
      align-items: center;
          font-size:var(--font_size); 
          background:#4b8051;
          color:white;
        font-family:Arial;
          cursor:pointer;
      }
      .box:hover {
          background:yellowgreen;
          color:black;
          border-radius:25%;
    }
  
      .wrapper{
          display: grid;
          min-width:100px;
          width:55%;
          margin:10px 0;
          height:var(--wrp_height);
      grid-gap: 1px;
          grid-auto-columns:var(--cell_size);
          grid-auto-rows:var(--cell_size);
          background-color: transparent;
      }
      .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:checked + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  </style>